root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4

[*.java]
indent_style = tab
ij_java_class_count_to_use_import_on_demand = 99
ij_java_names_count_to_use_import_on_demand = 99

[*.groovy]
indent_style = tab
ij_groovy_class_count_to_use_import_on_demand = 99
ij_groovy_names_count_to_use_import_on_demand = 99

[*.json]
indent_size = 2

[*.xml]
indent_style = tab
