*.eml
*.iml
*~
.classpath
.project
pom.xml.versionsBackup
target
.settings
.idea
build.log
entrystore.properties
release-update-versions.sh
_testdata
package-lock.json
templates/out/
templates/node_modules/
/testdata/
/logs/
